* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    background-color: bisque;
    padding: 50px;
}

a {
    text-decoration: none;
    color: gray;
    box-sizing: border-box;
    background-color: sienna;
    margin: 50px auto;
    display: block;
    max-width: 300px;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    font-weight: bold;
}

a:hover {
    color: orange;
    background-color: #673400;
}

img {
    max-width: 100%;
    height: auto;
    margin: 50px auto;
    display: block;
    border: 10px solid sienna;
    border-radius: 40px;
    box-shadow: 3px 3px 10px black;
}

h1 {
    text-align: center;
    font-size: 60px;
    text-shadow: 1px 1px 5px black;
    color: sienna;
}

.link {
    display: inline-block;
    margin: 40px;
}

.recipes {
    list-style-type: none;
    align-content: center;
    display: block;
    margin: 0;
}
