* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: gray;
    box-sizing: border-box;
    background-color: lightgray;
    margin: 50px auto;
    display: block;
    max-width: 300px;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    font-weight: bold;
}

a:hover {
    color: orange;
}

img {
    max-width: 100%;
    height: auto;
    margin: 50px auto;
    display: block;
    border: 10px solid dimgray;
    border-radius: 40px;
    box-shadow: 3px 3px 10px black;
}
